@{
    ViewData["Title"] = "Index";
    var loginId = Context.Session.GetInt32("id");
}
@{
    
}
<h1>@ViewData["Title"]</h1>

<form action="/Blog/SaveBlog" id="BlogForm"  enctype="multipart/form-data" >
<div class="form-group">
   
    <label for="Title">Başlıq</label>
     <input type="text" class="form-control"  name="Title" id="Title">
</div>
<div class="form-group">
    <label for="Subtitle">Altbaşlıq</label>
     <input type="text" class="form-control" name="Subtitle" id="Subtitle">
</div>

<div class="form-group">
    <label for="summernote">Mətn</label>
<textarea id="summernote" class="form-control" name="Content"></textarea>
</div>
<div class="form-group">
    <input class="form-control" type="file" name="ImagePath" id="ImagePath"  >
</div>
<div class="form-group">
    @Html.Label(null,"Kateqoriya",new {@for="Categories"})
    @Html.DropDownList("Categories",null,"Bir kateqoriya seçin!",new{@class="form-control",@id="Categories"})
</div>
@if(loginId!=0){
<button type="button" onclick="SaveBlog()" id="SubmitButton">Yaddaşda saxla</button>
<button type="reset" hidden id="ResetButton"></button>
}

</form>    
@section Scripts{
    
   <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script>    
$(document).ready(function() {
  $('#summernote').summernote();
  @* $('.form-control').each(function(){
        $(this).prop('readonly', true);
  
}); *@
})
</script>

    
   <script>
   
    
    
</script>
  

<script>
function SaveBlog(){
    
    var data = new FormData($('form').get(0));
    var fileUpload = document.getElementById("ImagePath")
    var files = fileUpload.files;
    for(var i =0 ; i < files.length; i++ ){
        data.append(files[i].name,files[i])
    }
    data.append('title',document.getElementById('Title').value);
    data.append('subtitle',document.getElementById('Subtitle').value);
    data.append('content',$('#summernote').summernote('code'));
    data.append('categoryid',document.getElementById('Categories').value);

    
    $.ajax({
        url : "/Blog/SaveBlog",
        data : data,
        contentType : false,
        processData : false, 
        type : "POST",
        success : function(result){
            console.log(result);
            $('#ResetButton').click();
            location.href="/Blog/HomePage"
            
        },error : function(result){
            console.log(result)
        }
    })
} 

</script>


    
    
}